<style>
  a {
      text-decoration: none;
        font-size: 16px;
  }


</style>

<div style="box-shadow: 10px 10px 5px #888888;left: 0px; top: 0px;background:powderblue;position:fixed;height:100px;width:100%;margin-top:0px;">
<h2 style="text-align:center;text-shadow: 2px 2px #000;color:ghostwhite;">Mustafa Yongacı Yönetim Paneli</h2>
</div>
<div style="box-shadow: 10px 10px 5px #888888;height:100%;margin-top:98px;top:0px;background:powderblue;position:fixed;float:left;padding-left:40px;padding-top:40px;padding-right: 40px;">

    <a href="#">Ekle</a><br>
    <a style="padding-left:10px;" href="/photos/new">Fotoğraf</a><br>
    <a style="padding-left:10px;" href="/articles/new">Makale</a><br>
    <a style="padding-left:10px;" href="/videos/new">Video</a><br>
    <br><a href="">Sil</a><br>
    <a style="padding-left:10px;" href="/static_pages/photo_list">Fotoğraf</a><br>
    <a style="padding-left:10px;" href="/static_pages/article_list">Makale</a><br>
    <a style="padding-left:10px;" href="/videos/new">Video</a><br>
</div>
