<%= render :partial => "static_pages/panel" %>
<div style="clear:both;margin-top:90px;margin-left:100px;">
<form method="post" action="">

  <table>
    <tr>
      <td style="padding:5px">Title</td>
      <td style="padding:5px"><input name="title" type="text"></td>
    </tr>
    <tr>
      <td style="padding:5px">Category</td>
      <td style="padding:5px"><select name="file_type">
        <option value="photo">Photo</option>
        <option value="video">Video</option>
        <option value="article">Article</option>
        <option value="category">Category</option>
      </select></td>
    </tr>

    <tr></tr>

  </table>




</form>
</div>