<%= render :partial => "common/header" %>
<div style="margin-left:200px;margin-right: 200px;margin-top: 30px;">
  <img src="/assets/mustafa_yongaci.png" align="top" style="float: left; margin-right: 10px;">
<p style="margin-left:10px;">
1961 İzmir doğumlu. 1985 yılında Dokuz Eylül Üniversitesi Jeoloji Mühendisliği bölümünden mezun oldu. Fotoğraf çekmeye Zenith 12xp ile 29 şubat 1988 yılında başladı. İFOD’a 2002 yılında ile temel eğitim seminerleriyle adım attı. Burada fotoğrafın sadece teknik bir sorun olarak algılanmamasını öğrendi. Soyut ,kurgu, belgesel, manüplasyon konularında ürünler vermeğe çalıştı. İFOD’da yönetim kurulunda, jüri ve eğitim seminerlerinde severek görev aldı. Geleneksel sergilerin tamamına  fotoğraf verdi. Yurt dışı, yurt içi, sergi, gösteri, atölyeler, gezi, fotoğraf günleri etkinliklerinde bulundu. Ortak sergisi “Dörtte Bir”-2006 , kişisel sergileri  “Vuslat”-2009   ve   “Yağlı Çayır”-2010   açtı. Bakaç dergisine yazılar yazdı.
</p>
<p>
Anadolu Üniversitesi Fotoğrafçılık ve Kameramanlık bölümünü bitirdi (2012). Halen Günaydın İzmir proje sorumluluğu ve temel eğitim seminerlerinde görev yapıyor. Yerel bir gazetede  fotoğraf üzerine yazılar yazmaktadır. 2012 yılı itibarı ile yurt dışı yarışmalarda kendini sınıyor;  yurtdışı yarışmalarda 30 dan fazla sergileme ve bir mansiyon aldı. Önümüzdeki yıllarda fotoğraflarında yeni sunum olanakları geliştirmek ve yeryüzü insanları adıyla her kıtadan ürünler vermek istiyor. Evli üç çocuk babası ve Gıda sektöründe kendi işyerinde çalışmaktadır.
</p>
</div>