<%= render :partial => "common/header" %>

<table style="margin-top: 30px" class="table table-hover" >
  <thead>
    <tr>
      <th></th>
      <th>Başlık</th>
      <th>Yayınlanma zamanı</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><% article %></td>
        <td><%= link_to article.title,article %></td>
        <td><%= article.post_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
