<!--<td style="padding-left: 20px;padding-bottom: 20px;">-->

  <a href="/assets/<%= photo.category_id %>/<%= photo.id %>.png">
    <img style="margin-top:5px;" src="/assets/<%= photo.category_id %>/<%= photo.id %>.png" height="150px;" />
  </a>
<!--</td>-->